{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Удаление статьи
{% endblock title %}

{% block content %}
    <h1>Вы действительно хотите удалить статью?</h1>
    <hr>
    <table>
        <thead>
          <tr>
              <td>
                  Заголовок
              </td>
              <td>
                  Дата публикации
              </td>
              <td>
                  Новость
              </td>
          </tr>
        </thead>
        <tr>
            <td>
                {{ post.header|censor }}
            </td>
            <td>
                {{ post.creation_time|date:'d.m.Y' }}
            </td>
            <td>
                {{ post.text|truncatechars:50|censor }}
            </td>
        </tr>
    </table>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="подтвердить">
    </form>
{% endblock content %}