{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load custom_filters %}

{% block title %}
{% translate "Deleting the article" %}
{% endblock title %}

{% block content %}
    <h1>{% translate "Are you really want to delete the article?" %}</h1>
    <hr>
    <table>
        <thead>
            <tr>
                <td>
                    {% translate "Header" %}
                </td>
                <td>
                    {% translate "Publication date" %}
                </td>
                <td>
                    {% translate "Article" %}
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                {{ post.header|censor }}
            </td>
            <td>
                {{ post.creation_time|date:'d.m.Y' }}
            </td>
            <td>
                {{ post.text|truncatechars:50|censor }}
            </td>
        </tr>
    </table>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value={% translate "Confirm" %}>
    </form>
{% endblock content %}