{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.header }}</title>
</head>
<body>
    <p>
        {% blocktranslate with name=user.username %}Hello, {{name}}. New articles for the week:{% endblocktranslate %}
    </p>
    <ul>
    {% for p in post %}
        <li><a href="http://127.0.0.1:8000{% url 'detail_news' p.id %}">{{ p.header }}</a></li>
    {% endfor %}
    </ul>
    <hr>
</body>
</html>