{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load custom_filters %}

{% block title %}
{% translate "Article" %}
{% endblock title %}

{% block content %}
    <h1>{{ news.header|censor }}</h1>

    {% if category %}
        {% load account %}

        <h5>
        {% for cat in category %}
            <div>
                <a href="{% url 'category' cat.category %}">{{ cat.category__category }}</a>
                {% if user.is_authenticated %}
                    {% if cat.category not in subscribed %}
                        | <button><a href="{% url 'subscribe_category' cat.category %}">{% translate "Subscribe" %}</a></button>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        </h5>
    {% endif %}

    <h6>{{ news.creation_time|date:'d.m.Y G:i' }}</h6>
    <p>{{ news.text|censor }}</p>
    <h6>{% translate "Author:" %} {{ author_name }}</h6>
    <hr>
{% endblock content %}