{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load custom_filters %}

{% load cache %}
{% cache 5 title %}
{% block title %}
{% translate "Articles" %}
{{ newses|length }}
{% endblock title %}
{% endcache %}

{% cache 5 title %}
{% block content %}
    <h1>{% translate "All articles" %}</h1>
    <hr>
    {% if newses %}
        <table>
            <thead>
                <tr>
                    <td>
                        {% translate "Header" %}
                    </td>
                    <td>
                        {% translate "Publication date" %}
                    </td>
                    <td>
                        {% translate "Article" %}
                    </td>
                </tr>
            </thead>
        {% for news in newses %}
            <tr>
                <td>
                    <a href="{% url 'detail_news' news.id %}">{{ news.header|censor }}</a>
                    <a href="{% url 'news_edit' news.id %}"><u>{% translate "Edit" %}</u></a>
                    <a href="{% url 'news_delete' news.id %}"><u>{% translate "Delete" %}</u></a>
                </td>
                <td>
                    {{ news.creation_time|date:'d.m.Y' }}
                </td>
                <td>
                    {{ news.text|truncatechars:50|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1">{% translate "First" %}</a>
                <a href="?page={{ page_obj.previous_page_number }}"> < </a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?page={{ num }}"> {{ num }} </a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> > </a>
                <a href="?page={{ page_obj.paginator.num_pages }}">{% translate "Last" %}</a>
            {% endif %}
        {% endif %}
    {% else %}
        <h2>{% translate "No articles!" %}</h2>
    {% endif %}

    <div>
        {% if is_not_author %}<button> <a href="/news/setauthor/">{% translate "Become an author" %}</a></button>{% endif %}
    </div>
{% endblock content %}
{% endcache %}