{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load custom_filters %}

{% block title %}
{% translate "Article search" %}
{{ filter.qs|length }}
{% endblock title %}

{% block content %}
    <form method="GET">
        {{ filter.form }}
        <input type="submit" value={% translate "Find" %}>
    </form>
    <hr>
        <table>
            <thead>
                <tr>
                    <td>
                        {% translate "Publication date" %}
                    </td>
                    <td>
                        {% translate "Author" %}
                    </td>
                    <td>
                        {% translate "Header" %}
                    </td>
                    <td>
                        {% translate "Article" %}
                    </td>
                </tr>
            </thead>
        {% for news in filter.qs %}
            <tr>
                <td>
                    {{ news.creation_time|date:'d.m.Y' }}
                </td>
                <td>
                    {{ news.author.user_id.username }}
                </td>
                <td>
                    {{ news.header|censor }}
                </td>
                <td>
                    {{ news.text|truncatechars:50|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
{% endblock content %}