{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Поиск статьи
{{ filter.qs|length }}
{% endblock title %}

{% block content %}
    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Найти">
    </form>
    <hr>
        <table>
            <thead>
                <tr>
                    <td>
                        Дата публикации
                    </td>
                    <td>
                        Автор
                    </td>
                    <td>
                        Заголовок
                    </td>
                    <td>
                        Новость
                    </td>
                </tr>
            </thead>
        {% for news in filter.qs %}
            <tr>
                <td>
                    {{ news.creation_time|date:'d.m.Y' }}
                </td>
                <td>
                    {{ news.author.user_id.username }}
                </td>
                <td>
                    {{ news.header|censor }}
                </td>
                <td>
                    {{ news.text|truncatechars:50|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
{% endblock content %}